
:root {
    --selection-bg: #e2c7fe;
    --selection-text: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --selection-bg: #aa38ca;
        --selection-text: #ffffff;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: var(--selection-bg);
    color: var(--selection-text);
}